.Navbar{
    height: 70px;
    width: 100%;
    border: 0.5px solid #d8ecec;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    height: 60px;
    width: 30%;
   margin-left: 20px;
    display: flex;
    align-items: center;
}
.loginSignup{
    height: 60px;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #9c9b9b;
    cursor: pointer;
}