
*{
 box-sizing: border-box;
}
.outer{
    height: 230px;
    width: 100%;
    border-bottom: 1px solid #ecf0f1;
   
}
.inner{
    height: 900px;
    width: 58%;
    margin: auto;
    margin-top: 6%;
    display: flex;
    border-radius: 15px;
}
.innerleft{
    height:900px;
    width: 40%;
    text-align: left;
    color: #292a2d;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    background-position: top left;
    border: 1px solid #ecf0f1;
    border-right: none;
    background-size: cover;
    background-image: url(https://app.hellobonsai.com/assets/signup/signup-panel-bg-d7dcdb0bac806bc05a740e6bd59c62439a7102882f57320e8ab25b40393f1b75.png);
    padding:30px
}
.innerright{
    height: 900px;
    width: 60%;
    border: 1px solid #ecf0f1;
    background-color: #fff;

}
.innerheader{
    height: 100px;
    width: 95%;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}
.innerfooter{
    height: 100px;
    width: 95%;
    font-size: 15px;
    font-weight: 500;
    margin-top: 230%;
}
.footerText{
    margin-top: 12px;
    font-size: 12px;
    font-style: italic;
    color: #008163;
    font-weight: 400;
}
.footerQuote{
    margin-top: 5px;
    font-size: 10px;
    opacity: 0.8;
    color: #00b289;

}
.rightheader{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: left;
    box-sizing: border-box;
    margin: auto;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: #292a2d;
    line-height: 1.2em;
    word-spacing: normal;
    font-size: 30px;
    max-width: 80%;
    margin-top: 12%;
}
.Email{
    height: 80px;
    width: 85%;
    text-align: left;
    margin: auto;
    margin-top: 10px;
    color: #008163;
}
.label{
    display: block;
    margin-bottom:-15px;
    font-size: 13px;
}
.req{
    display: block;
    /* margin-top:-21px; */
    margin-bottom: 30px;
    font-size: 12px;
}
.country
{
    font-size: 13px;
    margin-right: 50%;
    margin-bottom: 8px;
}
.currency{
    font-size: 13px;
    
}
.select{
    height: 60px;
    width: 85%;
    margin: auto;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.acc{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;
    color: #ccd0d2;
}
.Submit{
    background-color: #00b289;
    color: #fff;
    font-weight: 400;
}
.lp_container1 {
    height: 50px;
    width: 80%;
    margin: auto;
    margin-top: 8px;
    display: flex;
  }
  
  .lp_lines {
    width: 100%;
    height: 35px;
    margin: auto;
    position: relative;
  }
  
  .lp_lines::after,
  .lp_lines::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 0.5px;
    background: #e3faf6;
    width: 28%;
    top: 45%;
  }
  
  .lp_lines::after {
    left: 0;
  }
  
  .lp_lines::before {
    right: 0;
  }
  
  .lp_diamonds {
    position: absolute;
    height: 25px;
    width: 100%;
    color: #01e7c1;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 2px;
  }
  .email{
    margin-top: 8px;
    outline: none;
    color: #12ad89;
  }